body {
  font-family: Arial, 'sans-serif'; 
  background-color: white;
  box-sizing: border-box;
}

.bg-navigation {
  background: linear-gradient(80deg, #b375cfc5 40%, #62088d 100%); ;    
  height: 33px;
  width: 100%;
}

.nav-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1200px;
}

.bg-see-github {
  background: url('/images/bg-see-more-github.png') no-repeat left top;
  color: white;
  font-size: 14px;
  padding: 4px 0 0 50px;
  height: 29px;
  width: 305px;
}

.link-nav {
  display: flex;
  color: white;
  text-decoration: none;
}

.link-nav:hover {
  color: #ebcff8c5;
}

.see-code {
  align-self: center;
  margin-left: 20px;
}

header {
  align-items: center;
  background: url('/images/bg-body.png') no-repeat center top;
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px;
}

.title-movie-card {
  background: url('/images/MCL-logo.png') no-repeat left top;
  color: #320547;
  /* border: 1px solid red; */
  padding: 2px 0 2px 60px;
  width: 460px;
}

.bt-add-new {
  background-color: rgb(18, 182, 174);
  border: none;
  border-radius: 30px;
  display: flex;
  padding: 1px 12px 1px 1px;
}

.text-bt {
  align-self: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.bt-add-new:hover {
  background-color: rgb(17, 136, 128);
  cursor: pointer;
}
.bt-add-new:active {
  background-color: rgb(43, 30, 77);
  cursor: pointer;
}

button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.link {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-around;
}

.loading {
  display: flex;
  justify-content: center;
}